<!-- Portfolio Body -->
<img src="./assets/images/portfolio/portfolio.png" alt="Image" class="portfolio-img">
<div class="container card-body-portfolio" id="portfolio">
    <mat-tab-group>
      <mat-tab label="3D INDUSTRIAL MODELS">
        <mat-grid-list cols="1" rowHeight="800px">
            <mat-grid-tile>
              <img src="./assets/images/about/n1.jpg" alt="Image">
            </mat-grid-tile>
            <!-- <mat-grid-tile>
              <img src="./assets/images/portfolio/p2.jpg" alt="Image">
            </mat-grid-tile> -->
          </mat-grid-list>  
          <!-- <mat-grid-list cols="2" rowHeight="500px">
            <mat-grid-tile>
              <img src="./assets/images/portfolio/p5.jpg" alt="Image">
            </mat-grid-tile>
            <mat-grid-tile>
              <img src="./assets/images/portfolio/p4.jpg" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>   -->
        </mat-tab>
      <mat-tab label="3D ARCHITECTURAL MODELS">
        <mat-grid-list cols="1" rowHeight="800px">
          <mat-grid-tile>
            <img src="./assets/images/about/n2.jpg" alt="Image">
          </mat-grid-tile>
          <!-- <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile> -->
        </mat-grid-list>  
        <!-- <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>         -->
        </mat-tab>
      <mat-tab label="3D CHARACTER MODELS">
        <mat-grid-list cols="1" rowHeight="800px">
          <mat-grid-tile>
            <img src="./assets/images/about/n3.png" alt="Image">
          </mat-grid-tile>
          <!-- <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile> -->
        </mat-grid-list>  
        <!-- <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>    -->
            </mat-tab>
    <mat-tab label="TRADITIONAL ART">
      <mat-grid-list cols="1" rowHeight="800px">
        <mat-grid-tile>
          <img src="./assets/images/about/n4.png" alt="Image">
        </mat-grid-tile>
        <!-- <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile> -->
      </mat-grid-list>  
      <!-- <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>   -->
            </mat-tab>
    <!-- <mat-tab label="GRAPHIC DESIGN PROJECTS">
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
          <img src="./assets/images/portfolio/Featured_Slide_Work00008.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile> 
      </mat-grid-list>  
       <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>   
            </mat-tab> -->
    </mat-tab-group>
  </div>