<section id="about" class="about">
    <div class="section-heading text-center">
    <h2>about me</h2>
    </div>
    <div class="container">
    <div class="about-content">
    <div class="row">
    <div class="col-sm-offset-1 col-sm-5">
    <div class="single-about-img">
    <div class="about-list-icon">
        <ul>
          <li>
            <a href="https://www.facebook.com/gian.bendana" target="_blank">
              <i  class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li><!-- / li -->
          <li>
            <a href="https://br.pinterest.com/gianbendana/" target="_blank">
              <i  class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
            
          </li><!-- / li -->
          <li>
            <a href="https://twitter.com/gbendana73" target="_blank">
              <i  class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            
          </li><!-- / li -->
          <li>
            <a href="https://www.linkedin.com/pub/giancarlo-bendana/66/119/4bb" target="_blank">
              <i  class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li><!-- / li -->
          <li>
            <a href="https://www.youtube.com/user/gbendana/videos" target="_blank">
              <i  class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
          <!-- / li -->
          
        </ul><!-- / ul -->
      </div><!-- /.about-list-icon -->
      
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </section><!--/.about-->
    