<!-- Demo reels Body -->
<img src="./assets/images/portfolio/demo.png" alt="Image" class="demoreels-img">
<p style="text-align: center; font-size: x-large; font-family: monospace;">
  <b>
    Here are demo reels that cover what I have learned both <br>
    while I attended the Art Institute of Houston and  as a creative professional. <br>
    My demo reels demonstrate a wide variety of projects and skills in different fields. <br>
</b>
</p>
<div class="container card-body-demoreels" id="demoreel">
  <mat-tab-group>
    <mat-tab label="Industrial Work Demo Reel">
        <iframe class="iframe-styling" src="https://www.youtube.com/embed/HoTAoyz14QM?si=FW_9v_3B5VWKpK8W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
    <mat-tab label="Academic Demo Reel">
        <iframe class="iframe-styling" src="https://www.youtube.com/embed/OqJxxcTHREc?si=9TZ8d0gkYKcjVajD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
  </mat-tab-group>
</div>